<div class="jumbotron">
  <h1>Headless Drupal 8 & AngularJS on Platform.sh</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    I'm an AngularJS frontend consuming a RESTful API provided by a Drupal 8 backend, both hosted on Platform.sh as a multi-application project.
  </p>
  <p><a class="btn btn-lg btn-success" href="https://github.com/GuGuss/headless-drupal8-angular-platformsh">Source Code<span class="glyphicon"></span></a></p>
</div>

<div class="row marketing">
  <h4>Platform.sh</h4>
  <p>
  <a href="https://platform.sh">Platform.sh</a> is a groundbreaking, award-winning hosting and development tool for web applications. It extends a branch-merge workflow to infrastructure so that every branch can be tested as if it were in production, and it scales up to the largest sites.Support multiple application.
  </p>
  <p>
  It natively supports deploying multiple applications which makes it the perfect tool for this example.
  </p>
  <h4>AngularJS</h4>
  <p>
  <a href="https://www.angularjs.org/">AngularJS</a> is an open-source web application framework maintained by Google and by a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications.
  </p>
  <p>
  In this example, we use Yeoman which helps you to kickstart new projects, prescribing best practices and tools to help you stay productive.
  </p>
  <h4>Drupal 8</h4>
  <p>
  <a href="https://drupal.org">Drupal</a> is an open source content management platform powering millions of websites and applications. It’s built, used, and supported by an active and diverse community of people around the world.
  </p>
</div>
